#basic-navbar-nav a{
  color: aliceblue;
  transition: 0.5s;
}
#basic-navbar-nav a:hover{
  color: yellow;
  font-size: 1.2rem;
}

.slider img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position:  center 5%;
}

.carousel-caption{
  bottom: 30%;
}
.carousel-caption h3{
  font-size: 3rem;
}