#basic-navbar-nav a {
  color: aliceblue;
  transition: 0.5s;
}
#basic-navbar-nav a:hover {
  color: yellow;
  font-size: 1.2rem;
}

.slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center 5%;
}

.carousel-caption {
  bottom: 30%;
}
.carousel-caption h3 {
  font-size: 3rem;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.678);
}
.register{
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.551), rgba(0, 0, 255, 0.477)), 
                    url('assets/image-3.jpg')
 
;
}
